<html>
    <head>
        <title>Home</title>
        <style>
            table{
                text-align: center;
            }
            th,td{
                padding: 2px 5px;
            }
        </style>
    </head>
    <body>
        <h1>Course List</h1>
        <table border="2">
            <thead>
                <th> ID </th>
                <th> Course Name </th>
                <!-- <th> Description </th> -->
                <!-- <th> Instructor </th> -->
                <th> Rating </th>
            </thead>
            {% for course in course_list %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.cname }}</td>
                <!-- <td>{{ course.description }}</td> -->
                <!-- <td>{{ course.instructor }}</td> -->
                <td>{{ course.rating }}</td>
                <!-- <td><a href="">Edit</a></td> -->
                <!-- <td><a href="">Delete</a></td> -->
                <td><a href="{% url 'detail' course.id %}">See Details</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'create' %}">Create Course</a>
    </body>
</html>